<a href="https://colab.research.google.com/github/JungHyuk1/program/blob/main/20210913_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,2,3,4,5]
b = (1,2,3,4,5)

c =tuple(a)
print(c)
print(type(c))
d = list(b)
print(b)
print(type(b))


e = set(a)
print(e)
print(type(e))

(1, 2, 3, 4, 5)
<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'tuple'>
{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
for i in range(10):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1,11):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
sum = 0
for i in range(2,101,2):
  sum = sum + i
print(sum)

2550

In [ ]:
for i in range(1,10):
  print('2 x {0} = {1}'.format(i,2*i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
for i in range(1,10):
  print('3 x {0} = {1}'.format(i,3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print('{0}x{1}={2}'.format(i,j,i*j))
  print()

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27

4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45

6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [ ]:
a = input("숫자를 입력하세양:")
for i in range(1,10):
  print('{0} x {1} = {2}'.format(int(a),i,int(a)*i))